.object-adding {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



textarea{
    resize: none;
    width: 90% !important;
    height: 20vh !important;
}

.adding-button{
    width: 157px;
    height: 58px;
    border: none;
    border-radius: 23px;
    background-color: #FEB203;
    color: white;
    font-size: 16pt;
    cursor: pointer;
}

.object-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}