.defectInfo-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.defect-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}