.object-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.object-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/Стройка.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8) blur(3px);
    z-index: -1;
}

.profile-content {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    display: flex;
}

.objects-card {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 100vh !important;
    width: 500% ;
}

.objects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
}

.object-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  background-color: #FEB203;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.object-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.object-card h3 {
  margin: 0 0 8px 0;
}

.object-card h4 {
  margin: 0 0 8px 0;
}

.object-card p {
  font-size: 14px;
  color: #000000;
}


.objects-table {
    max-height: 50vh;   /* Ограничиваем высоту блока */
    overflow-y: auto;   /* Вертикальная прокрутка */
    padding: 10px;      /* Можно оставить для отступов */
    border-radius: 8px;
    margin-top: -2vh;
}

.title{
    margin: -0.5vh;
}

.add-button{
    width: 197px;
    height: 78px;
    border: none;
    border-radius: 23px;
    background-color: #FEB203;
    color: #000;
    font-size: 14pt;
    cursor: pointer;
    margin-top: 100px;
    margin-right: 5%;
}

.button{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.btns-obj{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .add-button{
    width: 100px !important;
    height: 40px !important;
    
  }
}