.register-container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.register-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Стройка.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.8) blur(3px); /* затемнение и размытие */
    z-index: -1; /* чтобы фон был за контентом */
}

.register-content {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 1); /* полупрозрачный фон формы, если нужно */

  border-radius: 10px;
}

.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.register-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.register-title{
    font-size: 44pt !important;
    margin-bottom: -4px;
    font-weight: bold;
    font-family: GothamPro, sans-serif;
}
p{
    font-size: 14pt;
    font-family: GothamPro, sans-serif;
}

.register-link {
    font-size: 14pt !important;
}

.register-button{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #ed7009; /* Зеленый цвет */
    color: white;
    font-size: 14pt;
    cursor: pointer;
}

.register-selection{
    margin-bottom: 20px;
}

.error-message{
    font-size: 12pt!important;
    color: red;
    margin-top: 0px;
}

/* Сетка 2 колонки × 3 ряда */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px; /* строки и колонки */
    width: 100%;
}

select{
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    font-family: GothamPro, sans-serif;
}
#role{
    margin-bottom: 200px;
}
